.container-seeker-box {
    position: fixed;
    top: 25%;
    left: 35%;
}

.card-size{
    height: 15.625rem;
    width: 28.125rem;
    border-color: 2px solid black;
    background: white;
    border-radius: 25px;
    padding-right:3rem;
    padding-top: 2rem;
}

.align-title{
  text-align: center;
}

.register-card-container{
  height: 25.625rem;
    width: 50.125rem;
    border-color: 2px solid black;
    background: white;
}